<div class="container">
    <div class="jumbotron">
        <h1><i class="fa fa-exclamation-triangle orange"></i> 501 Not Implemented</h1>
        <p class="lead">The requested route has not yet been implemented</p>
        <a href="javascript:document.location.reload(true);" class="btn btn-default btn-lg text-center"><span class="green">Try This Page Again</span></a>
    </div>
</div>
<div class="container">
    <div class="body-content">
        <div class="row">
            <div class="col-md-6">
                <h2>What happened?</h2>
                <p>
                    The requested route has not yet been implemented on this server and therefore cannot be fulfilled
                </p>
            </div>
            <div class="col-md-6">
                <h2>What can I do?</h2>
                <p>
                    If you need immediate assistance, please send us an email instead. We apologize for any inconvenience.
                </p>
            </div>
        </div>
    </div>
</div>