<div class="container">
    <div class="jumbotron">
        <h1><i class="fa fa-exclamation-triangle orange"></i> 503 Service Unavailable</h1>
        <p class="lead">The backend service for DermDB is currently not responding.</p>
        <a href="javascript:document.location.reload(true);" class="btn btn-default btn-lg text-center"><span class="green">Try This Page Again</span></a>
    </div>
</div>
<div class="container">
    <div class="body-content">
        <div class="row">
            <div class="col-md-6">
                <h2>What happened?</h2>
                <p>
                    One of our servers providing this service to you has failed to respond to the load balancer, and no
                    fail-over server is available to handle this request.
                </p>
                <p>
                    This can be for a variety of reasons, the server may be updating or may be under heavy load or
                    stress. This should only be a temporary inconvenience
                </p>
            </div>
            <div class="col-md-6">
                <h2>What can I do?</h2>
                <p>
                    If you need immediate assistance, please send us an email instead. We apologize for any inconvenience.
                </p>
                <p>
                    Please checkout our <a href="#">status monitor</a> for real-time updates and analytics of our systems.
                </p>
            </div>
        </div>
    </div>
</div>